{
  "presets": [
    "@babel/env",
    [
      "@babel/react", {
        // with the latest version of react now we don't have
        // to write react import statement again and again it will be
        // loaded by default in the runtime 😎
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-styled-components",
    "react-hot-loader/babel"
  ],
  "env": {
    // if production we want the prop-types 
    // definition to be excluded from the source code
    // it can be done by other methods but i prefer this much
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "ignoreFilenames": ["node_modules"]
        }]
      ]
    }
  }
}